@using PagedList;
@using PagedList.Mvc;
@using doan3.Models.Entities;
@model  IPagedList<caycanh>
@{
    ViewBag.Title = "trangchu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm mới</h2>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count<caycanh>(); i = i + 4)
            {


    <div class="row featured__filter">
        @for (int j = 0; j < 4; j++)
        {
            if (i + j >= Model.Count<caycanh>())
            {
                break;
            }
            caycanh l = Model.ElementAtOrDefault<caycanh>(i + j);//Lấy sp tương ứng vs vị trí hàng i cột j
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="~/Content/images/@l.hinhanh">
                        <img src="~/Content/images/@l.hinhanh" />
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a onclick="ThemGioHang('@l.macaycanh','@l.gia','@l.tencaycanh.Trim()','@l.hinhanh')"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href=@Url.Action("chitietsanpham", "chitietsanpham", new { masp = l.macaycanh })>@l.tencaycanh</a></h6>
                        <h5>@(string.Format("{0:#,##0}", l.gia)) đ</h5>
                    </div>
                </div>
            </div>
        }
        </div>
            }
        }
                    </div>
</section>
<!-- Featured Section End -->

<!-- Blog Section End -->
<!-- Footer Section Begin -->
