@using doan3.Models.Entities;
@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model caycanh



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Vegetable’s Package</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <a href="./index.html">Vegetables</a>
                        <span>Vegetable’s Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        @if (Model != null)
        {
            <div class="row">


                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="~/Content/images/@Model.hinhanh" src="~/Content/images/@Model.hinhanh" />
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="~/Content/images/@Model.hinhanh" src="~/Content/images/@Model.hinhanh" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@Model.tencaycanh</h3>
                        <div class="product__details__price">@string.Format("{0:#,##0 VND}", @Model.gia)</div>
                        <p>
                            Cách chăm sóc:
                            @Model.cachchamsoc
                        </p>
                        <p>Ý nghĩa: @Model.ynghia</p>
                        <p>Ý nghĩa: @Model.chieucao</p>
                        <a onclick="ThemGioHang('@Model.macaycanh','@Model.gia','@Model.tencaycanh.Trim()','@Model.hinhanh')" class="primary-btn">Thêm giỏ hàng</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    </div>
                </div>
         
            </div>
        }
        </div>
</section>
<!-- Product Details Section End -->
